*.pdf
*.gbr
*.drl
*.kicad_mod

*.png

*.tex
_minted-*

*.log

*.dsn
*.kicad_pcb
*.pro
fp-info-cache

*.json
!.pods/*.json
*.kicad_pcb-bak
*.ses
compiled/
*.html

*.ipynb_checkpoints/

netlist
netlist-1
pict
bhdl-footprints

Manifest.toml